*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bpg square banner caps";
    src: url('./bpg\ square\ banner\ caps.ttf');
}

.close_icon{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;

    width: 27px;
    height: 27px;

    cursor: pointer;
}

.popUp_title{
    font-family: "bpg square banner caps";
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 0 250px;
    margin-top: 30px;
}

#popUpLink{
    color: #8989c7 !important;
    text-decoration: underline !important;
}

.choosePackage{
    font-family: "bpg square banner caps";
    color: #fff;
    text-align: center;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.packageName1,
.packageName2{
    cursor: pointer;
    color: rgb(237, 0, 0);
}

.inactive{
    opacity: 0.4;
    color: #fff;
}

.channels_modal_opened{
    background-color: #191918;
    box-sizing: border-box;
    height: 99vh;
    width: 99%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 5;
    
    overflow: hidden;
}

.channels_modal_closed{
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
}

.subscribe_prices{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding-bottom: 200px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 27px;
}

.subscribe_prices_inner,
.subscribe_prices_inner2{
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 51px;

    width: 100%;
    height: 100%;

    margin-top: 10px;
    padding-top: 95px;
    padding-right: 10px;
    padding-left: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.subscribe_prices_inner2{
    justify-content: flex-start;
    padding-left: 50px;
}

.subscribe_prices_inner::-webkit-scrollbar,
.subscribe_prices_inner2::-webkit-scrollbar{
    width: 5px;
    background-color: #A9A8A8;
}

.subscribe_prices_inner::-webkit-scrollbar-thumb,
.subscribe_prices_inner2::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(237, 0, 0);
}

.price_block{
    width: 290px;
    max-width: 100%;
    position: fixed;
    top: 140px;
    z-index: 2;
    background-color: #373534;
}

.price_block_upper{
    box-sizing: border-box;
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "BPG Square Banner Caps";
    font-size: 20px;
    color: #fff;
    background-color: #373534;
}

.price_block_below{
    box-sizing: border-box;
    font-family: 'BPG Arial';
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 70px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #272523;
}

.gap{
    gap:10px
}

.channels_and_title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.channel_number{
    font-family: "BPG Square Banner Caps";
    font-size: 28px;

    color: #fff;

}

.channels_name{
    font-family: "BPG Square Banner Caps";
    font-size: 16px;

    color: #fff;
}

.channels_function{
    font-family: "BPG Square Banner Caps";
    font-size: 11px;

    color: #8d8d8d;
}

.channels_price_perMonth{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.price_inGel{
    display: flex;
    align-items: flex-end;
}

.gel{
    font-family: "BPG Square Banner Caps";
    font-size: 28px;

    color: #fff;
}

.gel_symbol{
    font-family: "BPG Square Banner Caps";
    font-size: 16px;
    margin-bottom: 3px;
    color: #fff;
}

.per_month{
    font-family: "BPG Square Banner Caps";
    font-size: 18px;
    margin-bottom: 3px;
    color: #A9A8A8;
}

.channel_list_inModal1,
.channel_list_inModal2,
.channel_list_inModal3,
.channel_list_inModal4,
.channel_list_inModal5{
    margin-top: 15px;
    color: white;
    font-family: "BPG Square Banner Caps";
}

.item_outter{
    border-bottom: 1px solid #a9a8a84b;
    
}

.channelColumn{
    position: relative;
    width: 290px;
    max-width: 90%;
    box-sizing: border-box;
}

.channel_list_item{

    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel_list_item_faded{
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0.3;
}

.channel_item_name_cover{
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel_icon{
    width: 20px;
}

.channel_item_devices{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.device_little_block{
    height: 100%;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp_agree_btn{
    width: 250px;
    height: 60px;

    background-color: rgb(237, 0, 0);

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "bpg square banner caps";
    color: #fff;

    cursor: pointer;
}

@media (min-width:1600px) {
    .price_block{
        width: 350px;
    }
    .channelColumn{
        width: 350px;
    }

    .addonColumn{
        margin-left: 90px;
    }

    .popUp_title{
        font-family: "bpg square banner caps";
        color: #fff;
        text-align: center;
        font-size: 20px;
        padding: 0 470px;
    }
}

@media (max-width:1367px) {
    .popUp_title{
        font-family: "bpg square banner caps";
        color: #fff;
        text-align: center;
        font-size: 19px;
        padding: 0 150px;
        margin-top: 30px;
    }
}


@media (max-width:800px) {
    .channels_modal_opened{
        background-color: #191918;
        height: 90vh;
        width: 99%;
        position: fixed;
        top: 50%;
        left: 50%;   
    }

    .subscribe_prices{
        margin-top: 50px;
        padding-top: 0px;
        flex-direction: column;
        padding-bottom: 250px;
    }

    .subscribe_prices_inner,
    .subscribe_prices_inner2{
        display: block;
        padding-top: 0;
        margin-top: 0px;
    }

    .price_block{
        position: absolute;
        top: 0;
    }

    .popUp_title{
        text-align: center;
        position: relative;
        /* font-size: 16px; */
        top: 20px;
        padding: 0;
    }

    .channel_list_inModal1,
    .channel_list_inModal2,
    .channel_list_inModal3,
    .channel_list_inModal4,
    .channel_list_inModal5{
        margin-top: 0px;
        padding-top: 105px;
        color: white;
        font-family: "BPG Square Banner Caps";
    }

    .channelColumn{
        margin: 0 auto 50px auto;
    }

    .price_block_below{
        height: 60px;
    }

    .channel_number{
        font-size: 22px;
    }

    .channels_price_perMonth{
        font-size: 22px;
    }

    .popUp_agree_btn{
        width: 240px;
        height: 50px;
    
        background-color: rgb(237, 0, 0);
    
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-family: "bpg square banner caps";
        color: #fff;
    
        cursor: pointer;
    }

}

.displeyNone{
    display: none;
}